*{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    color: dimgray;
}
#resposta{
    margin-top: 15%;
    font-size: 70px;
}
.topo, .base{
    width: 400px;
    margin: auto;
}
@media(max-width:800px){
    .topo, .base{
        width: 200px;
    }
    button{
        margin-top: 15px;
    }
}